#nav {
    width: 0;
    padding: 1;
}

#nav.open {
    width: 2fr;
    padding: 1;
}

#code-container {
    width: 8fr;
    height: 100%;
    padding-top: 1;
}

.code:focus {
    border: none;
}

OpenDirectoryModal {
    padding: 1;
}